# Build output (see README and .github/workflows/build.yml)
/build/
/dist/
/Clipster.app/
/Clipster.exe
/Clipster.tar.xz
*.syso
*.exe
*.exe~
*.swp
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
